<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>1) 사번, 직원명, 부서명, 직급, 연봉, 근무년수를 DataFrame에 기억 후 출력하시오.</h1>
<h1>: 부서번호, 직원명 순으로 오름 차순 정렬 </h1>
{{df | safe}}
<br/>
<h1>2) 부서명, 직급 자료를 이용하여  각각 연봉합, 연봉평균을 구하시오.</h1>
{{b_paysum | safe}},{{b_paymean | safe}},{{j_paysum | safe}},{{j_paymean | safe}}
<br/>
<h1>3) 부서명별 연봉합, 평균을 이용하여 세로막대 그래프를 출력하시오.</h1>
<img src="/static/images/buserpay.png">
<br/>
<h1>4) 성별, 직급별 빈도표를 출력하시오.</h1>
{{ ctab | safe }}
</body>
</html>